/* ======= PALETA DE COLORES ======= */
:root {
    --color-principal: rgb(112, 30, 71);
    --color-blanco: rgb(255, 255, 255);
    --color-informativo: rgb(119, 119, 119);
    --color-gris-intenso: rgb(51, 51, 51);
    --color-negro: rgb(0, 0, 0);
    --color-gris-claro: rgb(242, 242, 242);
    --color-blanco-transparente: rgba(255, 255, 255, 0.8);
}

/* ======= ESTILOS GENERALES ======= */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('../img/clinica.png') no-repeat center center fixed;
    background-size: cover;
}

/* ======= HEADER ======= */
header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-blanco-transparente);
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* ======= LOGO ======= */
.logo img {
    display: block;
    max-width: 60%;
    height: auto;
    margin: 5px auto;
    padding-top: 10px;
}

/* ======= MAIN ======= */
main {
    display: contents;
}

/* ======= SECCIÓN INFORMACIÓN ======= */
.div__information {
    width: 90%;
    max-width: 400px;
    background: var(--color-blanco);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 20px auto;
}

/* ======= SECCIÓN BUSCAR UN PACIENTE/PROFESIONAL POR DNI ======= */
.div__search {
    width: 90%;
    max-width: 400px;
    background: var(--color-blanco);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 20px auto;
}

.div__search input {
    width: 80%;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.div__search button{
    background-color: var(--color-principal);
    color: var(--color-blanco);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.div__search .input__dni {
    cursor: unset;
}

/* ======= BOTON ACTUALIZAR DATOS ======= */
.div__update button {
    background-color: var(--color-principal);
    color: var(--color-blanco);
    border: none;
    width: 90%;
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    cursor: pointer;
}

#div__personal_data input {
    cursor: unset;
}

/* ======= DATOS PERSONALES ======= */
.div__personal_data {
    width: 90%;
    max-width: 400px;
    background: var(--color-blanco);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
}

/* ======= SECCIÓN BUSCAR A TODOS LOS PACIENTES ======= */
.div__personal_data_all {
    width: 90%;
    max-width: 900px;
    background: var(--color-blanco);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: var(--color-blanco);
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: var(--color-principal);
    color: var(--color-blanco);
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: var(--color-blanco);
}

tr:hover {
    background-color: var(--color-blanco);
}

/* ======= NOMBRE DATO (uno por uno) ======= */
.div__field {
    margin-bottom: 15px;
}

/* ======= DATO QUE SE LEE ======= */
label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* ======= INPUT ======= */
input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--color-blanco);
    font-size: 16px;
    text-align: center;
    cursor: not-allowed;
}

/* ======= FECHA DE NACIMIENTO ======= */
.div__birthdate {
    display: flex;
    gap: 5%;
}

.div__birthdate input {
    width: 30%;
}

/* ======= RESPONSIVE DESIGN ======= */
@media (max-width: 768px) {
    .div__information, .div__personal_data {
        width: 95%;
    }

    .div__birthdate {
        flex-direction: column;
        gap: 10px;
    }

    .div__birthdate input {
        width: 90%;
    }
}

@media (max-width: 480px) {
    header {
        padding: 5px 0;
    }

    .logo img {
        max-width: 70%;
    }

    .div__information, .div__personal_data {
        padding: 10px;
    }

    input {
        font-size: 14px;
    }
}


/* Responsivo para 480px */
@media (max-width: 920px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    th, td {
        padding: 6px;
        font-size: 12px;
    }

    th {
        background-color: var(--color-principal);
    }
}