/* ======= PALETA DE COLORES ======= */
:root {
    --color-principal: rgb(112, 30, 71);
    --color-blanco: rgb(255, 255, 255);
    --color-blanco-transparente: rgba(255, 255, 255, 0.8);
    --color-informativo: rgb(119, 119, 119);
    --color-gris-intenso: rgb(51, 51, 51);
    --color-celeste: rgb(0, 123, 255);
    --color-principal-transparente: rgba(112, 30, 71, 0.9);
    --color-rojo: rgb(255, 0, 0);
    --color-rojo-oscuro: rgb(139, 0, 0);
    --color-gris: rgb(128, 128, 128);
}

/* ======= ESTILOS GENERALES ======= */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--color-blanco);
    overflow: auto;
    justify-content: flex-start;
    background: url('../img/clinica.png') no-repeat center center fixed;
    background-size: cover;
}

/* ======= HEADER ======= */
header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-blanco-transparente);
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

/* ======= LOGO ======= */
.logo img {
    display: block;
    max-width: 60%;
    height: auto;
    margin: 5px auto;
    padding-top: 10px;
}

/* ======= DIV Es facil y rapido ======= */
.div__crea_cuenta,
.div__register,
.div__schedule,
.div__information {
    background-color: var(--color-blanco);
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    width: 400px;
    margin: 10px auto;
    font-family: Arial, sans-serif;
}

.div__crea_cuenta p:first-child,
.div__register p:first-child,
.div__schedule p:first-child,
.div__information p:first-child {
    font-size: 16px;
    color: var(--color-informativo);
}

.div__crea_cuenta p:last-child,
.div__register p:last-child,
.div__schedule p:last-child,
.div__information p:last-child {
    font-size: 22px;
    font-weight: bold;
    color: var(--color-gris-intenso);
    margin-bottom: 2px;
}

/* ======= DIV Ingresar datos, en login(iniciar_sesion), r_patient(crea_cuenta) y r_professional (datos) ======= */
.div__container {
    background: var(--color-blanco);
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    margin: 10px;
}

#div__iniciar_sesion p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

.div__nacimiento,
.div__speciality {
    color: var(--color-gris);
    margin-bottom: 20px;
}

.div__speciality select {
    width: 100px;
}

.iniciar_sesion {
    width: 85%;
    margin: 10px;
    padding: 10px;
    background-color: var(--color-principal);
    color: #ddd;
    border-radius: 5px;
}


/* ======= INPUTS ======= */
[class^="input__"] {
    width: 300px;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


/* ======= BUTTONS ======= */

[id^="button__"] {
    background-color: var(--color-principal);
    border: none;
    color: var(--color-blanco);
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
}

#button__iniciar_sesion a,
#button__change_password a,
#button__register_patient,
#button__register_professional,
#button__register_speciality,
#button__add_schedule {
    color: var(--color-blanco);
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 40px;
}

.a__olvidar_contraseña,
.a__tienes_cuenta {
    display: block;
    margin-top: 20px;
    text-align: center;
}

#select_speciality {
    width: 80%;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid var(--color-gris);
    font-size: 16px;
}

/* 
#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__input {
    border-radius: 5px;
    border: 1px solid var(--color-gris);
    padding: 8px;
    margin: 10px;
    background-color: var(--color-principal-transparente);
}


.modal__h2 {
    color: var(--color-blanco);
    font-size: 22px;
}

.hidden__content {
    background-color: var(--color-principal);
    padding: 30px;
    border-radius: 10px;
    height: 150px;
    width: 400px;
}

.botones {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.botones__item{
    background-color: var(--color-gris-intenso);
    border-radius: 8px;
    color: var(--color-gris);
    padding: 10px;
} */


/* ======= DIV Clikeable recordar contraseña ======= */
.div__remember {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 15px 0;
}

/* ======= ENLACES Como: ¿Ya tienes una cuenta?, Registrarte y Mas info ======= */
a {
    color: var(--color-principal);
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

/* ======= MENSAJE DE PROTECCION DE DATOS RECAPTCHA ======= */
.div__iniciar_sesion div:last-child {
    font-size: 12px;
    color: var(--color-informativo);
    text-align: left;
}

/* ======= MENSAJE DE TERMINOS Y CONDICIONES ======= */
.div__terms {
    text-align: start;
}

/* ======= ESTILOS PARA SELECCIONAR DIAS Y HORARIOS ======= */
.div__select_day_time {
    border-radius: 8px;
    background-color: var(--color-blanco);
    font-family: Arial, sans-serif;
}

h3 {
    text-align: center;
    color: var(--color-gris-intenso);
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--color-blanco);
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

tr td:nth-child(2) {
    display: flex;
    align-items: center;
}

th {
    background-color: var(--color-principal-transparente);
    color: var(--color-blanco);
}

input[type="time"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 45%;
    text-align: center;
}

/* ======= CARTEL ======= */
#alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-principal-transparente);
    color: var(--color-blanco);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

#cerrar {
    margin-left: 15px;
    background-color: var(--color-blanco);
    color: var(--color-rojo);
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#cerrar:hover {
    color: var(--color-rojo-oscuro);
}



/* ======= MEDIA QUERIES ======= */
@media (max-width: 768px) {

    .div__crea_cuenta,
    .div__register,
    .div__schedule,
    .div__information,
    .div__iniciar_sesion,
    .div__datos,
    .div__register_speciality,
    .div__add_schedule,
    .div__personal_data {
        width: 90%;
        padding: 10px;
        margin: 10px;
    }

    [class^="input__"] {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .logo img {
        max-width: 250px;
    }

    [class^="input__"] {
        padding: 12px;
    }

    .div__submit {
        gap: 5px;
    }

    [id^="button__"] {
        font-size: 14px;
        padding: 8px;
    }
}