/* ======= PALETA DE COLORES ======= */
:root {
    --color-principal: rgb(112, 30, 71);
    --color-principal-transparente: rgba(112, 30, 71, 0.5);
    --color-blanco: rgb(255, 255, 255);
    --color-informativo: rgb(119, 119, 119);
    --color-gris-intenso: rgb(51, 51, 51);
    --color-negro: rgb(0, 0, 0);
    --color-gris-claro: rgb(242, 242, 242);
    --color-blanco-transparente: rgba(255, 255, 255, 0.8);
    --color-rojo: rgb(255, 0, 0);
    --color-rojo-oscuro: rgb(139, 0, 0);
}

/* ======= DIV PRINCIPAL ======= */
.div__introduccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.div__introduccion div {
    background-color: var(--color-blanco-transparente);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.div__introduccion img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

.div__introduccion h1 {
    font-size: 24px;
    color: #333;
}

.div__introduccion p {
    font-size: 18px;
    color: #555;
    max-width: 600px;
}


/* ======= DIV QUE CONTIENE ESPECIALISTAS ======= */
.div__especialistas img {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
}

.div__especialistas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* ======= ESPECIALISTA UNO POR UNO ======= */
.div__especialista {
    background: var(--color-blanco-transparente);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 280px;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.div__especialista img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid rgb(112, 30, 71);
    margin-bottom: 10px;
}

.div__especialista h2 {
    margin-bottom: 5px;
    color: var(--color-principal);
}

.div__especialista p {
    font-size: 14px;
    color: var(--color-gris-intenso);
}

.div__especialista:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}