/* ======= PALETA DE COLORES ======= */
:root {
    --color-principal: rgb(112, 30, 71);
    --color-principal-transparente: rgba(112, 30, 71, 0.5);
    --color-blanco: rgb(255, 255, 255);
    --color-informativo: rgb(119, 119, 119);
    --color-gris-intenso: rgb(51, 51, 51);
    --color-negro: rgb(0, 0, 0);
    --color-gris-claro: rgb(242, 242, 242);
    --color-blanco-transparente: rgba(255, 255, 255, 0.8);
    --color-verde: rgb(0, 128, 0);
    --color-rojo: rgb(255, 0, 0);
}

/* ======= ESTILOS GENERALES ======= */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--color-blanco);
    overflow: auto;
    justify-content: flex-start;

    background: url('../img/clinica.png') no-repeat center center fixed;
    background-size: cover;
}

/* ======= HEADER ======= */
header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-blanco-transparente);
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* ======= LOGO ======= */
.logo img {
    display: block;
    max-width: 60%;
    height: auto;
    margin: 5px auto;
    padding-top: 10px;
}

/* ======= MAIN ======= */
main {
    margin: 20px auto;
    width: 60%;
    background: var(--color-blanco);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* ======= DIV CALENDARIO ======= */
.div__calendar_container {
    background: var(--color-blanco);
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* ======= MES ======= */
.div__month_controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.div__month_controls button {
    background: var(--color-principal);
    color: var(--color-blanco);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.div__month_controls button:hover {
    background: var(--color-principal);
}

/* ======= DIAS DE LA SEMANA ======= */
.div__weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bold;
    background: var(--color-principal);
    color: var(--color-blanco);
    padding: 10px 0;
    border-radius: 5px;
}

.div__weekdays div {
    text-align: center;
}

/* ======= CALENDARIO ======= */
.div__calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 10px;
}

/* ======= DIA VACIO ======= */
.div__empty_day {
    height: 40px;
}

/* ======= DIAS ======= */
.div__day {
    background: var(--color-blanco);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s;
    border: 1px solid #ddd;
}

.div__day:hover {
    background: var(--color-principal-transparente);
    color: var(--color-blanco);
}

/* ======= DIV TURNOS ======= */
.div__schedule {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    background: var(--color-blanco);
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.div__schedule button {
    background: var(--color-principal);
    color: var(--color-blanco);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.div__schedule button:hover {
    background: var(--color-rojo);
}

/* ======= ESTILOS PARA TURNOS DISPONIBLES Y OCUPADOS ======= */
.div__available {
    color: var(--color-verde);
    font-weight: bold;
}

.div__unavailable {
    color: var(--color-rojo);
    font-weight: bold;
}
